<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Payment</title>
    <script>
        function submitPaymentForm(event) {
            event.preventDefault(); // Предотвращаем стандартное поведение формы

            const cardNumber = document.getElementById('cardNumber').value;
            const amount = document.getElementById('amount').value;

            // Отправляем запрос на сервер банка
            fetch('http://localhost:8091/api/payments', {
                method: 'POST',
                headers: {
                    'Content-Type': 'application/json'
                },
                body: JSON.stringify({
                    'cardNumber': cardNumber,
                    'amount': amount
                })
            })
                .then(response => response.text())
                .then(result => {
                    document.getElementById('result').innerText = result;
                })
                .catch(error => {
                    console.error('Error:', error);
                    document.getElementById('result').innerText = 'Error processing payment';
                });
        }
    </script>
</head>
<body>
<h1>Payment Form</h1>
<form onsubmit="submitPaymentForm(event)">
    <div>
        <label for="cardNumber">Номер карты:</label>
        <input type="text" id="cardNumber" name="cardNumber" required  placeholder="Введите номер  карты"/>
    </div>
    <div>
        <label for="amount">Amount:</label>
        <input type="number" id="amount" name="amount" required />
    </div>
    <button type="submit">Оплатить</button>
</form>
<div id="result"></div>
</body>
</html>
